NEXT_PUBLIC_STRIPE_PK_KEY="your_PUBLIC_STRIPE_PK_KEY_here"
STRIPE_SK_KEY="your_STRIPE_SK_KEY_here"
NEXT_PUBLIC_SUPABASE_URL="https://your_example.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your_supabase_anon_key_here"
DATABASE_URL="your_database_url_here"
